.venv/

data/

exploration/

ibmb_script/ccw/data
ibmb_script/ccw/flagged
ibmb_script/ccw/logs
ibmb_script/ccw/test.ipynb
ibmb_script/ccw/utils/__pycache__
ibmb_script/ccw/__pycache__
ibmb_script/ccw/test_hist.ipynb

# TF Online
ibmb_script/tf_online/historical/data
ibmb_script/tf_online/historical/logs
ibmb_script/tf_online/historical/test_hist.ipynb
ibmb_script/tf_online/historical/utils/__pycache__

ibmb_script/tf_online/tf_online_5min/flagged
ibmb_script/tf_online/tf_online_5min/logs
ibmb_script/tf_online/tf_online_5min/test_hist.ipynb
ibmb_script/tf_online/tf_online_5min/utils/__pycache__

ibmb_script/tf_online/tf_online_10min/flagged
ibmb_script/tf_online/tf_online_10min/logs
ibmb_script/tf_online/tf_online_10min/test_hist.ipynb
ibmb_script/tf_online/tf_online_10min/utils/__pycache__

ibmb_script/tf_online/tf_online_50mio/flagged
ibmb_script/tf_online/tf_online_50mio/logs
ibmb_script/tf_online/tf_online_50mio/utils/__pycache__

ibmb_script/tf_online/tf_online_50mio_early/flagged
ibmb_script/tf_online/tf_online_50mio_early/logs
ibmb_script/tf_online/tf_online_50mio_early/utils/__pycache__


# non-QR
ibmb_script/pembayaran/non_qr/historical/flagged/
ibmb_script/pembayaran/non_qr/historical/data/
ibmb_script/pembayaran/non_qr/historical/utils/__pycache__
ibmb_script/pembayaran/non_qr/historical/logs

ibmb_script/pembayaran/non_qr/non_qr_10min/flagged
ibmb_script/pembayaran/non_qr/non_qr_10min/logs
ibmb_script/pembayaran/non_qr/non_qr_10min/utils/__pycache__

ibmb_script/pembayaran/non_qr/non_qr_5mio/flagged
ibmb_script/pembayaran/non_qr/non_qr_5mio/logs
ibmb_script/pembayaran/non_qr/non_qr_5mio/utils/__pycache__


# QR
ibmb_script/pembayaran/qr/historical/data
ibmb_script/pembayaran/qr/historical/logs
ibmb_script/pembayaran/qr/historical/utils/__pycache__

ibmb_script/pembayaran/qr/qr_5mio/flagged
ibmb_script/pembayaran/qr/qr_5mio/logs
ibmb_script/pembayaran/qr/qr_5mio/utils/__pycache__

ibmb_script/pembayaran/qr/qr_10min/flagged
ibmb_script/pembayaran/qr/qr_10min/logs
ibmb_script/pembayaran/qr/qr_10min/utils/__pycache__

# Ewallet
ibmb_script/e_wallet/historical/data
ibmb_script/e_wallet/historical/logs
ibmb_script/e_wallet/historical/utils/__pycache__

ibmb_script/e_wallet/ewallet_5mio/flagged
ibmb_script/e_wallet/ewallet_5mio/logs
ibmb_script/e_wallet/ewallet_5mio/utils/__pycache__

ibmb_script/e_wallet/ewallet_10min/flagged
ibmb_script/e_wallet/ewallet_10min/logs
ibmb_script/e_wallet/ewallet_10min/utils/__pycache__